* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--encore-body-font-stack,var(--fallback-fonts,sans-serif)),sans-serif
}

body {
    background-color: black;
    color: white;
}


.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    padding: 10px;
    position: relative;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
}

.library-img {
    display: flex;
    gap: 15px;
    width: 25px;
    padding-top: 14px;
}

.library {
    min-height: 80vh;
    position: relative;
}

h2 {
    font-size: 16px;
    font-weight: 700;
}

.footer {
    display: flex;
    font-size: 11px;
    gap: 13px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: gray;
    
}

.right {
    margin: 16px 5px 16px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 38, 38);
    border-radius: 7px;
}

.header> *{
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px 4px 16px 0px;
}

.cardContainer{
    display: flex;
    gap: 10px;
    cursor: pointer;
    max-height: 70vh;
}

.spotifyPlaylists .card {
    width: 182px;
    padding: 12px;
    position: relative;
}

.card> * {
    margin-top: 0.5rem;
}

.card-img {
    width: 100%;
    object-fit: contain;
    border-radius: 6px;
    display: block;
}

.cardH1 {
    padding-left: 12px;
}

.playBtnSvg {
    position: absolute;
    right: 20px;
    top: 122px;
    opacity: 0;
    transition: all 1s ease-out;
}

.button> * {
    margin: 0 10px;
}

.singupBtn {
    background-color: rgb(34, 34, 34);
    color: grey;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.singupBtn:hover {
    font-size: 17px;
    color: white;
}

.loginBtn {
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 21px;
    padding: 10px;
    width: 79px;
    cursor: pointer;
}

.loginBtn:hover {
    font-weight: bold;
    font-size: 16px;
}

.playbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: aqua;
    padding: 12px;
}

.playbar img {
    width: 30px;
    height: 30px;
}

